body {
	background-color:  gray;
}
section{
    margin:auto;
    margin-top:15%;
    width:440px;
    height:410px;
    border-radius: 10px;
    border:solid 1px #BDBDBD;
    border:solid 2px rgb(130, 239, 76);
}
section:hover{
    box-shadow: 0px 0px 10px black;
}
#historybox{
    width:390px;
    margin-left:5px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
#conteudoSection{
    margin:15px 0 0 13px;
}
#resposta{
    border:solid 1px #BDBDBD;
    border:solid 2px rgb(130, 239, 76);
    border-radius: 10px;
    width:410px;
    height:100px;
    margin-bottom:5px;
}
#resposta:hover{
    box-shadow: 0px 0px 5px black;
}
button {
    width:100px;
    height:50px;
    margin-bottom:5px;
    cursor: pointer;
    background-color:#D8D8D8;
    background-color: rgb(130, 239, 76);
    outline: none;
    border:none;
    border-radius: 5px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(34, 73, 3);
    font-size: 20px;
    color: rgb(55, 255, 0);
}

#limparcampo{
    margin-top: 5px;
    width: 204px;
}
#resetar{
    width: 204px;
    margin-top: 5px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#historicorecente{
    margin-right:5px;
    margin-top:10px;
    text-align:right;
    font-size:15px;
    color: rgb(189, 251, 158);
}
#iconeHist{
    color: rgb(189, 251, 158);
    margin-top:10px;
}
#iconeEsconderHist{
    margin-top:10px;
}
#conteudo{
    color: rgb(130, 239, 76);
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:5px;
    margin-right:5px;
    text-align:right;
}
#valor1{
    color: rgb(189, 251, 158);
    background-color:  gray;
    outline:none;
    text-align:center;
    margin-right:15px;
    width:50px;
    font-size:40px;
    border:none;
    height:40px;
    
}
#operador{
    color: rgb(189, 251, 158);
    background-color:  gray;
    outline:none;
    width:25px;
    font-size:40px;
    display:none;
    border:none;
}
#valor2{
    color: rgb(189, 251, 158);
    background-color:  gray;
    display:none;
    text-align:left;
    outline:none;
    text-align:right;
    width:25px;
    font-size:40px;
    border:none;
    height:40px;
}

#resultado1 {
    color: rgb(189, 251, 158);
    background-color:  gray;
    width:150px;
    text-align:right;
    height:40px;
    font-size:40px;
    display:none;
    border:none;
}

#sectionHistoric{
    display:none;
}

#iconeEsconderHist {
    display:none;
}

#resultadoHistoricoGeral{
    margin:10px 0px 0px 5px;
}
